version: '3.7'
services:
  neo4j:
    image: neo4j:5.9
    environment:
      - NEO4J_AUTH=neo4j/password123
      - NEO4J_PLUGINS=["apoc"] 
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    ports:
      - '7474:7474'
      - '7687:7687'
    volumes:
      - neo4j_data:/data

  backend:
    build: ./backend
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password123
      - LLM_API_KEY=${LLM_API_KEY}
      - LLM_API_URL=${LLM_API_URL}
    ports:
      - '3001:3001'
    depends_on:
      - neo4j

volumes:
  neo4j_data:
